@mixin aspect-custom($a, $b) {
  position: relative;
  overflow: hidden;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($b / $a) * 100%;
  }

  >img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  >video {
    position: absolute;
    top: 0;
    width: 100%;
  }

  iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.aspect-4-3 {
  @include aspect-custom(4, 3);
}
.aspect-4-5 {
  @include aspect-custom(4, 5);
}
.aspect-9-16 {
  @include aspect-custom(9, 16);
}
.aspect-16-9 {
  @include aspect-custom(16, 9);
}
.aspect-3-4 {
  @include aspect-custom(3, 4);
}

.aspect-4-5 {
  @include aspect-custom(4, 5);
}